{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block crud %}
<div class="container">
        <div class="section">
            <div class="row">
                <div class="col m6 offset m3">
                 
    
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Admin page</h1>

{% endblock %}
