{% extends "base.html.twig" %}

{% block crud %}
<div class="container">
    <div class="col-md-12">
        <h1>Whoops ! error 404</h1>
        <p>You must to improve your login</p>
    </div>
</div>



{% endblock %}