{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <img src="{{asset('home.GIF')}}" style="width: 250px;height:100px;">
    {% set i = "symfony" %}
    {% if id is defined%}
        {%dump(id)%}
    {% endif %}
    {% for items in id %}
        <table>
            <tr>
                <td>
                    {% if items == 'angular' %}
                    <h1>   Best language :{% endif %} 
                         <a href="{{ path('lang', {choice: items}) }}"> 
                             {{items|capitalize}}
                            </a>
                        </td>
                    </h1>
            </tr>
        </table>

    {% endfor %}
</tr>
<h1>Qu'est-ce que le Lorem Ipsum?</h1>
<p>
    <text>Le faux-texte (également appelé lorem ipsum, lipsum, ou bolo bolo) est, en
        imprimerie, un texte sans signification, dont le seul objectif est de calibrer
        le contenu</p>
    {{slug}}
{% endblock %}